[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.349"
uvicorn = "*"
fastapi = "*"
langserve = "*"
sse-starlette = "*"
ollama = "*"
pillow = "*"
ipython = "*"
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
chromadb = "*"
llama-index-vector-stores-chroma = "*"
tokenizers = "*"
transformers = "*"
datasets = "*"
evaluate = "*"
accelerate = "*"
pyowm = "*"
langchain-experimental = "==0.0.46"
langchain-ollama = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
